/* Here are example using css */

.from-css {
  color: #74FAC8;
}


.img {
  width: 100%;
  max-width: 50rem;
}

.sphere {
  fill: #1717c2;
}

.country {
  fill: lightgreen;
  stroke: black;
  stroke-opacity: 0.1;
}

.country:hover {
  fill: red;

}

